@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


// FONT FAMILY
// ---------------
$source-serif: 'Source Serif Pro', serif;
$ibm-plex-sans: 'IBM Plex Sans', sans-serif;
$roboto: 'Roboto', sans-serif;

// FONT SIZE 
// ---------
$large-font-size: 20px;
$base-font-size: 18px;
$small-font-size: 14px;
$footer-font-size: 16px;


// FONT WEIGHT
// -----------
$normal: 400;
$semibold: 600;
$bold: 700;

body, p{
	font-family: $ibm-plex-sans;
	font-weight: $normal;
	font-size: 14px;
}

h1, h2, h3, h4, h5{
	font-family: $source-serif;
}
h6, h7, h8, h9{
	font-family: $ibm-plex-sans;
}

h1{
	font-weight: $semibold;
	font-size: 48px;
	color: $black;
}
h2{
	font-weight: $semibold;
	font-size: 32px;
	color: $black;
	@include lg{
		font-size: 36px;
	}
}
h3{
	font-weight: $normal;
	font-size: 30px;
	color: $dark-gray;
	@include lg{
		font-size: 28px;
	}
}
h4{
	font-weight: $normal;
	font-size: 24px;
	color: $dark-gray;
}
h5{
	font-weight: $semibold;
	font-size: 24px;
	color: $black;
}
h6{
	font-weight: $normal;
	font-size: 30px;
	color: $dark-gray;
}
h7{
	font-weight: $bold;
	font-size: 18px;
	color: $black;
}
h8{
	font-weight: $normal;
	font-size: 18px;
	color: $black;
}
h9{
	font-weight: $normal;
	font-size: 16px;
	color: $dark-gray;
}