.c-blog-list{
	h6{
		padding-bottom: 2rem;
	}
	&-post{
		&-cont{
			padding: 25px 0 25px;
			h2{
				font-size: 21px;
				a{
					color: $black;
					font-size: 21px;
					&:hover{
						color: $blue;
					}
				}
			}
			h3{ 
				color: $dark-gray;
				font-size: 16px;

			}
			img.align-right{
				display: flex;
				margin: 20px 0;
				width: 100%;
				@include lg{
					float: right;
					padding: 0px 0 0px 25px;
					margin: 0;
					width: auto;
				}
			}
		}
		&-info{
			border-top: solid 1px #ccc;
			h9{
				color: $dark-gray;
				text-transform: uppercase;
			}
			.duration{
				float: right;
				color: $dark-gray;
				text-transform: uppercase;
			}
		}
		/* Category title */
		.post-cat-title{
			position: relative;
			&:before{
				content: "";
				position: absolute;
				bottom: 5px;
				left: 0;
				width: 100%;
				height: 2px;
				background-color: $light-gray;

			}
			.credit-score{
				float: right;
				color: $dark-gray;
				background-color: $white;
				padding: 0px 10px 0;
				position: relative;
				font-weight: $bold;
			}
			.box-icon{
				width: 32px;
				height: 34px;
				background-color: $red;
				background-image: url(../../images/red-right-snap-icon.png);
				background-repeat: no-repeat;
				position: relative;
				float: right;
				margin-top: 1px;
				background-size: 100%;
				&:before{
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					width: 25px;
					height: 25px;
					background-color: transparent;
					transform: translate(-50%, -50%);

				}
				&:after{
					content: "";
					position: absolute;
					width: 15px;
					height: 100%;
					background-color: $white;
					left: -15px;
					top: 0;
				}
			}
			h7{
				position: relative;
				background: $white;
				padding-right: 10px;
				a{
					font-weight: $bold;
					color: $dark-gray;
				}
			}
		}
		&.red{
			h7{
				a{
					color: $red;
					font-weight: $bold;
						&:hover{
						color: $blue;
					}
				}
			}
			.box-icon{
				background-color: $blue;
				background-image: none;
				&:before{
					background-color: $red;
					border: solid 3px $white;
				}
			}
			.c-blog-list-post-info{
				h9{
					color: $red;
				}
				.duration{
					color: $red;
				}
			}
		}
		&.blue{
			h7{
				a{
					font-weight: $bold;
					color: $blue;
						&:hover{
						color: $red;
					}
				}
			}
			.box-icon{
				background-color: $red;
				background-image: none;
				&:before{
					background-color: $blue;
					border: solid 3px $white;
				}
			}
			.c-blog-list-post-info{
				h9{
					color: $blue;
				}
				.duration{
					color: $blue;
				}
			}
		}
	}
	&-single{
		margin-bottom: 2.5rem;
		padding-bottom: 15px;
		&.sponsored{
			background-color: $off-white;
			position: relative;
			&:before{
				content: "SPONSORED";
				position: absolute;
				left: 15px;
				top: 15px;
				font-size: 16px; 
			}
			.c-blog-list-post{
				.post-cat-title{
					h7{
						background-color: $off-white;
					}
					.box-icon{
						&:after{
							background-color: $off-white;
						}
					}
				}
			}
		}
	}
	.g-ad-apart{
		width: 100%;
		margin-bottom: 4rem;
	}

	.journal_head {
		font-family: "Source Serif Pro",serif;
		margin: 0 0 20px 15px;
		font-size: 24px;
		font-weight: 600;
		position: relative;
		text-transform: uppercase;
	}
}

.respective-area{
	padding: 0;
	display: none;
	@include lg{
		display: block;
		background-color: $off-white;
	}
}
.d-g-ad{
	display: none;
	@include lg{
		display: block;
	}
}