a.anchor {
		position: absolute !important;
		top: -250px;
	}
.top-page-option{
	background-color: $off-white;
	border-bottom: solid 2px $blue; 
	position: fixed;
	width: 100%;
	z-index: 100;
	@include rwdm(991) {
		bottom:0;
	}
	@include lg{
		display: block;
		z-index: 99;
    	position: relative;

	}

	.container {
		@include rwdm(430) {
			padding-left: 30px;
    		padding-right: 30px;
		}
	}
	.left-cont{
		@include rwdm(991) {
			margin:0 -15px;
		}
		ul{
			display: flex;
			flex-wrap: wrap;
			align-items: center;

			@include rwdm(767) {
				display: inline-flex;
				flex-wrap: nowrap;
			}
			li{
				height: 80px;
				@include rwdm(480) {
					height: 60px;
				}
				a{
					border-left: solid 1px $blue;
					padding: 4px 20px;
					display: inline-block;
					height: 100%;
					text-align: center;
					display: flex;
    				flex-direction: column;
					align-items: center;
    				justify-content: flex-end;
    				@include rwdm(1025) {
						padding: 4px 18px;
					}
					@include rwdm(640) {
						padding: 4px 10px;
					}
					@include rwdm(480) {
						padding: 10px 5px;
						justify-content: center;
					}

					.text{
						text-transform: uppercase;
						font-weight: $semibold;

						@include rwdm(767) {
							font-size: 12px;
						}

						@include rwdm(600) {
							font-size: 0px;
							display: none;
						}
					}
					img{
						@include rwdm(640) {
							max-width: 60%;
						}
					}
					&:hover{
						background-color: $sky-light;
						img{
							filter: invert(100%) brightness(0.5) sepia(1) hue-rotate(140deg) saturate(6);
						}
						.text{
							filter: invert(100%) brightness(0.5) sepia(1) hue-rotate(140deg) saturate(6);
						}
					}
				}
				&:last-child{
					a{
						border-right: solid 1px $blue;
					}
				}
			}
		}
	}
	.right-cont{
		display: flex;
		justify-content: flex-end;
		align-items: center;

		@include rwdm(991) {
			margin:0 -15px;
		}

		h5{
			margin: 0;
			padding-right: 2rem;
			font-style: italic;
			text-transform: uppercase;
			font-family: $source-serif;
			font-weight: $normal;
			font-size: 18px;
			color: $black;
		}

		.btnRed {
			@include rwdm(550) {
			    padding: 10px;
			    min-width: auto;
			    font-size: 14px;
			}
		}
	}
}

.single-article{
	padding: 20px 0 0;
	/* Hide this item for broken article single */
	#abstract img, #_idContainer000 img, .clinical-article .heading img{
		//display: none;
	}
	/* Hide this item for broken article single */
	.clinical-article{
		position: relative;
	}
	h1{
		color: $black;
		margin-bottom: 1rem;
		font-size: 32px;
	}
	.semi-title{
		font-family: $source-serif;
		font-weight: $normal;
		//font-size: 30px;
		font-size: 19px;
		color: $dark-gray;
		margin-bottom: .5rem;
		line-height: 1.2;
		// @include lg{
		// 	font-size: 28px;
		// }
	}
	h2, .subheads-subhead-1, .subheads-subhead-1-top, .achi-subhead-1, .subheads-subhead-2, 
	.subheads_subhead-1-left, .references_references-heading, .ltrs-br-ltr-br-references-head, .bs-subhead,
	 .references-references-head, .subheads-subhead-2-no-space, .subheads-abstract-head .semibold{
		font-family: $source-serif;
		margin: 0 0 15px;
		font-size: 24px;
		font-weight: 600;
		position: relative;
		text-transform: uppercase;
	}
	h3, h4{
		font-family: $ibm-plex-sans;
		font-size: 18px;
		font-weight: $semibold;
		margin: 0 0 15px;
		text-transform: uppercase;
	}
	cite{
		font-style: italic;
	}
	hr{
		display: none;
	}
	sup{
		font-weight: $bold;
	}
	em, .italic, .bold-italic {
		font-weight: 100;
		font-style: italic;
	}
	strong{
		font-weight: $bold;
		&.block{
			display: block;
			text-transform: uppercase;
		}
		em{
			font-weight: $bold;
		}
	}
	.block{
		display: block;
		text-transform: uppercase;
		font-weight: $bold;
	}
	.abstract-text{
		span{
			//font-weight: $bold;
		}
	}
	.btnBlue{
		display: inline-block;
		margin-bottom: 30px;
	}
	.btn-group{
		&.posttest{
			margin-bottom: 20px;
		}
	}
	.author{
		font-size: 18px;
		font-family: $roboto;
		font-weight: 500;
		margin-bottom: 20px;
		color: $dark-gray;
		margin-top: 15px;
	}
	.superscript, .htm-cite { position: relative; top: -0.5em; font-size: 80%; }
	.bold, .semibold-ital, .bold-italic{
		font-weight: $bold;
	}
	
	p{
		margin: 0 0 20px;
		position: relative;
		font-size: 16px;
		a{
			position: relative;
			display: inline-block;
			&.f-right{
				float: right;
			}
			&.f-left{
				float: left;
			}
			strong{
				font-size: 18px;
				color: $red;
				text-transform: uppercase;
				position: absolute;
				bottom: 10px;
    			right: 50px;
				font-weight: $normal;
				cursor: pointer;
			}
		}
	}
	.disclaimer-pro{
		margin-bottom: 20px;
	}
	img{
		cursor: pointer;
		//width: 100%;
		border: solid 20px #f6f6f6;
			@include lg{
				border: solid 50px #f6f6f6;
			}
		&.align-none{
			//width: 100%;
			border: solid 20px #f6f6f6;
			@include lg{
				border: solid 50px #f6f6f6;
			}
		}
		&.align-right{
			border: solid 50px #f6f6f6;
			margin: 0px 0 0px 0px;
			float: right;
			@include lg{
				margin: 0px 0 0px 25px;
			}
		}
		&.align-left{
			border: solid 50px #f6f6f6;
			margin: 0px 25px 0px 0;
			float: left;
		}
	}
	ul{
		&.align-right{
			margin: 1.5rem 0 0px 0px;
			float: right;
			@include lg{
				margin: 3rem 0 0px 25px;
			}
		}
		background-color: $sky-light;
		border-top: solid 10px $blue;
		padding: 20px;
		margin-bottom: 20px;
		li{
			color: $blue;
			padding: 8px 0;
			font-size: 18px;
			list-style-type: disc;
			padding-left: 2rem;
			margin-left: 2rem;
			strong{
				padding-bottom: 15px;
				display: inline-block;
			}
			a{
				color: $blue;
				font-size: 18px;
			}
		}
		h5{
			color: $blue;
			font-weight: $bold;
			position: relative;
			display: inline-block;
			margin: 1rem 0 3rem;
			&:after{
				content: "";
				width: 50px;
				height: 3px;
				background-color: $blue;
				position: absolute;
				left: 0%;
				bottom: -15px;
			}
		}
	}
}
.cont-reading{
	background-color: $sky-light;
	padding: 45px;
	width: 100%;
	border-top: solid 2px $blue;
	border-bottom: solid 2px $blue;
	.title{
		text-align: left;
		padding-bottom: 1rem;
		font-weight: $bold;
	}
	.btn-group{
		.btnBlue{
			min-width: 220px;
		}
	}
	p{
		margin: 1.5rem 0 1rem;
		font-size: $large-font-size;
		a{
			display: block;
			margin-top: 1rem;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	.subs-sec{
		padding-bottom: 2rem;
		@include lg{
			padding-bottom: 0;
		}
	}
	.l-border{
		position: relative;
		padding: 3rem 0 0;
		@include lg{
			padding: 0;
		}
		&:before{
			content: "";
			width: 100%;
			height: 1px;
			background-color: $blue;
			position: absolute;
			left: 0px;
			top: 0px;
			@include lg{
				content: "";
				width: 1px;
				height: 100%;
				background-color: $blue;
				position: absolute;
				left: -50px;
				top: 0px;
			}
		}
	}
	h9{
		color: $blue;
		font-weight: $bold;
		overflow-wrap: break-word;
	}
}
.focuson-ed-note{
	background-color: $off-white;
	padding: 2.3rem 2rem;
	margin-bottom: 3rem;
}
.buy-now-area{
	background-color: $off-white;
	padding: 2.3rem 2rem;
	display: flex;
    align-items: center;
    flex-wrap: wrap;
	justify-content: space-around;
	flex-flow: row;
	margin-bottom: 3rem;
	@include lg{
		flex-flow: row-reverse;
		justify-content: space-between;
	}
	.text-cont-p{
		padding-left: 10px;
		@include lg{
			padding-left: 0px;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			align-items: center;
			flex: 0 0 55%;
		}
	}
	h2{
		margin: 0;
	}
	p{
		margin-bottom: 0;
		font-size: $large-font-size;
		text-align: left;
		margin: 0;
		
		font-size: 15px;
		line-height: 17px;
	}
	.btn-group{
		.btnRed{
			min-width: 130px;
			font-size: 15px;
			@include lg{
				min-width: 220px;
				font-size: 18px;
			}
		}
	}
}
.meta-info{
	border-top: solid 2px $blue; 
	padding: 2rem 0;
}
.single-article-post{
	.take-onlin{
		border-top: solid 2px $blue; 
		border-bottom: solid 2px $blue; 
		.poll{
			padding: 2rem 2rem 0 1rem;
			.form-check-label{
				color: $blue;
				font-size: 16px;
				position: relative;
				a.anchor {
					position: absolute;
					top: -250px;
				}
				a{
					font-weight: $bold;
					color: $blue;
					&:hover{
						color: $black;
					}
				}
				p{
					color: $blue;
					font-size: 16px;
					margin: 0;
					display: inline;
				}
			}
		}
		.btn-group{
			margin: 0 0 10px;
			display: block;
			@include lg{
				margin: 0;
				display: inline-flex;
			}
			.btnRed{
				margin: 0 15px;
				padding: 10px 15px;
				font-size: 16px;
				width: 100%;
				&:first-child{
					margin-left: 0;
				}
			}
		}
	}
}

.weekly{
	p{
		text-align: left !important;
    margin: 0 !important;
    font-size: 16px !important;
	}
}
ol{
	li{
		font-size: 18px;
		padding-bottom: 15px;
	}
}
.page{
	width: 100%;
	.woocommerce{
		display: flex;
		width: 100%;
		justify-content: flex-start;
		flex-flow: wrap;
		.woocommerce-MyAccount-navigation{
			margin-right: 2rem;
		}
		.woocommerce-notices-wrapper {
			width: 100%;
		}
		.woocommerce-MyAccount-content{
			ul{
				li{
					strong{
						display: block;
						margin-bottom: 1rem;
					}
					ul{
						background-color: $sky-light;
						border-top: solid 10px $blue;
						padding: 20px;
						margin-bottom: 1rem;
							li{
								color: $blue;
								padding: 8px 0;
								font-size: 18px;
								list-style-type: disc;
								padding-left: 2rem;
								margin-left: 2rem;
								a{
									color: $blue;
									font-size: 18px;
								}
							}
					}
				}
			}
		}
	}

	.single-article {
		.woocommerce {
			@include rwdm(991) {
				flex-flow: column;
			}

			.woocommerce-orders-table {

				@include rwdm(991) {
					width: 100%;
				}
				
			}
		}
	}
}
.product-remove{
	a.remove{
		color: $red;
		font-size: 18px;
		border: solid 1px $red;
		border-radius: 50px;
		width: 20px;
		height: 20px;
		padding: 0 0 0 2px;
		display: inline-block;
		text-align: center !important;
		line-height: 16px;
	}
}
table.shop_table_responsive tr td.product-quantity{
	text-align: center;
}

.woocommerce-MyAccount-navigation{
	ul{
		background-color: $blue;
		padding: 15px 30px;
		min-width: 200px;
		li{
				padding: 10px 0;
				margin: 0;

				@include rwdm(991) {
					display: inline-block;
					padding: 10px 20px;
				}
			a{
				color: $white;
				font-size: 16px;
				&:after {
				  display:block;
				  content: '';
				  border-bottom: solid 2px $sky-light;  
				  transform: scaleX(0);  
				  transition: transform 250ms ease-in-out;
				}
				&:hover{
					color: $sky-light;
					&:after { transform: scaleX(1); }
				}
			}
		}
	}
}
.single-article .weekly p{
		margin-bottom: 20px !important;
		font-size: 16px;
}


/*.woocommerce nav {
  width: 22%;
  float: left;
}
.woocommerce div {
  width: 78%;
  float: left;
}
.numerictext-list article {
  width: 100%;
}*/
.woocommerce-message .wc-forward {
	display: none !important;
}
/* #trendmd-suggestions-page .trendmd-widget-footer {
    display: block!important;
} */
.trendmd-widget-footer-inner-bottom, .trendmd-widget-settings, .trendmd-widget-header,.trendmd-widget-footer {
    display: none!important;
}

.woocommerce-cart .return-to-shop { display: none !important; };


// .loader {
// 	border: 16px solid #f3f3f3;
// 	border-radius: 50%;
// 	border-top: 16px solid #3498db;
// 	width: 120px;
// 	height: 120px;
// 	-webkit-animation: spin 2s linear infinite; /* Safari */
// 	animation: spin 2s linear infinite;
//   }
  
//   /* Safari */
//   @-webkit-keyframes spin {
// 	0% { -webkit-transform: rotate(0deg); }
// 	100% { -webkit-transform: rotate(360deg); }
//   }
  
//   @keyframes spin {
// 	0% { transform: rotate(0deg); }
// 	100% { transform: rotate(360deg); }
//   }


#archive-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
}


.woocommerce .blockUI.blockOverlay:before,.woocommerce .loader:before {
	height: 10em;
    width: 10em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -.5em;
    margin-top: -.5em;
    display: block;
    content: "";
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
	background: url('./images/loader.gif') center center;
    background-size: cover;
    line-height: 1;
    text-align: center;
    font-size: 2em;
}

.loader,
.loader:before,
.loader:after,
.woocommerce .blockUI.blockOverlay:before, .woocommerce .loader:before {
  border-radius: 50%;
}
.loader {
  color: #ffffff;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #0dc5c1;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #0dc5c1;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rcp_subscription_fieldset {
	ul {
		list-style-type: none;

		li {
			list-style-type: none;
			margin: 0px;
    		padding: 10px;

    		label {
    			margin-bottom: 0px;
    			font-size: 16px;
    			

    			span {
    				&.rcp_subscription_level_name {
    					font-weight: 700;
    				}
    			}
    		}
		}
	}
}

.rcp_gateway_stripe_fields {
	ul {
		li {
			list-style-type: none;
			margin: 0px;
    		padding: 10px;
		}
	}
}