.srch-panel{
	background-color: #e0ebf5;
	padding: 0rem 3rem .5rem;
	@include lg{
		display: none;
	}
	&.fordesktop{
		display: none;
		@include lg{
			display: block;
		}
	}
	.has-search{
		padding-right: 2.375rem;
		position: relative;
		padding: .5rem 0 .5rem;
		margin: 0;
	}
	.has-search .form-control {
		background: none;
		border: none;
		border-bottom: solid 2px $blue;
		color: $blue;
		font-size: 24px;
	}
	.has-search .form-control-feedback {
		position: absolute;
		right: 0;
		top: 8px;
		z-index: 2;
		display: block;
		width: 2.375rem;
		height: 2.375rem;
		line-height: 2.375rem;
		text-align: center;
		pointer-events: none;
		color: #aaa;
		&:before{
			color: $blue;
			font-size: 32px;
		}
	}
	.dropdown{
		background: $white;
		border: solid 2px $blue;
		width: 100%;
		margin: .5rem 0 .5rem;
		.dropdown-toggle{
			background: none;
			border: none;
			width: 100%;
			color: $blue;
			text-align: left;
			font-size: 24px;	
			text-transform: uppercase;
			position: relative;
			&:after{
				content: "\f107";
				font-family: FontAwesome;
				top: 50%;
				right: 20px;
				transform: translateY(-50%);
    			position: absolute;
				border: none;
				font-size: 45px;
				width: auto;
				height: auto;
			}
		}
		.dropdown-menu{
			width: 100%;
		}
		.btn-secondary:not(:disabled):not(.disabled):active{
			background: none;
		}
	}
}
